<div class="max-w-6xl mx-auto p-4 md:p-8 relative min-h-screen flex flex-col">
  <app-header (logoutRequested)="onLogout()" />

  <router-outlet />

  <app-auth-modal [(isOpen)]="modalService.authModalOpen" />

  <app-create-cookbook-modal
    [(isOpen)]="modalService.createCookbookModalOpen"
    (cookbookCreated)="onCookbookCreated($event)"
  />

  <app-manual-entry-modal [(isOpen)]="modalService.manualEntryModalOpen" />

  <app-add-to-cookbook-modal (createCookbookRequested)="openCreateCookbookFromAddFlow()" />

  <app-footer />

  <app-save-toast (viewRecipeRequested)="viewRecipe($event)" />
</div>
